---
layout: default
title: Recepten
permalink: '/recepten/'
show: true
---

<h1>Recepten</h1>
<p>
  Een kleine lijst van recepten die ik met plezier op tafel tover. Her en der bij elkaar gesprokkeld of zelf samengesteld.
</p>

{% assign favorites = site.recipes | where:'favorite',true | sort: 'title' %}
{% assign sorted_recipes = site.recipes | sort: 'title' %}

<h2>Favorieten</h2>
<table>
  <thead>
    <tr>
      <th>Recept</th>
      <th></th>
      <th>Bereidingstijd</th>
      <th>Bron</th>
    </tr>
  </thead>
  <tbody>
  {% for recipe in favorites %}
    <tr>
      <td><a href='{{ recipe.url }}'>{{ recipe.title }}</a></td>
      <td>{{ recipe.tags | join: ", " }}</td>
      <td>{{ recipe.duration }}</td>
      <td>
        {% if recipe.source_url %}
          <a href='{{ recipe.source_url }}' target='_blank'>{{ recipe.source }}</a>
        {% else %}
          {{ recipe.source }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  <tr>
    <th colspan="4"><h2>Alle recepten</h2></th>
  </tr>
  {% for recipe in sorted_recipes %}
    <tr>
      <td><a href='{{ recipe.url }}'>{{ recipe.title }}</a></td>
      <td>{{ recipe.tags | join: ", " }}</td>
      <td>{{ recipe.duration }}</td>
      <td>
        {% if recipe.source_url %}
          <a href='{{ recipe.source_url }}' target='_blank'>{{ recipe.source }}</a>
        {% else %}
          {{ recipe.source }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
