---
layout: default
title: Reizen
permalink: '/reizen/'
show: true
---

<h1>Reizen</h1>

{% assign years = "2013,2014,2015,2016,2017,2018,2019" | split: ',' %}
<div id='trips'>
  {% for y in years reversed %}
  	<h2>{{ y }}</h2>
	  {% for trip in site.trips reversed %}
	    {% if trip.year == y %}
		    <div class='col s12 m4'>
		      <h3>{{ trip.title }}</h3>
		      {{ trip.from | date: "%b %-d" }} - {{ trip.until | date: "%b %-d" }}
		      <a href="{{ site.url }}{{ trip.url }}">
		        <img src='{{ trip.cover }}' />
		      </a>
		    </div>
		{% endif %}
	  {% endfor %}
  {% endfor %}
</div>