<nav role="navigation" class="top-menu">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="/recepten" {% if page.url == "/recepten/" %}class="active"{% endif %}>Recepten</a></li>
    <!-- <li><a href="/reizen" {% if page.url == "/reizen" %}class="active"{% endif %}>Reizen</a></li> -->
    <li><a href="/archive" {% if page.url == "/archive" %}class="active"{% endif %}>Archief</a></li>
    <!-- <li><a href="/tags.html" {% if page.url == "/tags" %}class="active"{% endif %}>Tags</a></li> -->
    <!-- <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a></li> -->
    <!-- <li><a href="/atom.xml">Feed</a></li> -->
  </ul>
</nav>
