---
layout: post
title:
description: ""
category: "tumblr"
---



<img src="/content/tumblr_files/tumblr_kr4ytgFXpt1qzniajo1_500.jpg"/><br/><p>Google at the 57th anniversary of the first patent on the <i>bar code. </i></p>
