---
layout: post
title: "Testen"
description: ""
category: "tumblr"
---



<p><a href="http://arrrrcamp.be" title="arrrrcamp"> ArrrrCamp </a> is nu al even achter de rug. Het was een namiddag vol boeiende Ruby, Rails,   Radiant presentaties, het geheel verliep extra vlot door vierde &#8216;R&#8217;, Rum.</p>

<p><a href="http://workswithruby.com/" title="workswithruby"> Jan </a> en ik hebben het gehad over het nut van Test Driven Development. Waarom   je moet beginnen met je test en pas dan de implementatie zelf. Hoe je daardoor   beter gaat nadenken over je applicatie, je veiliger werkt, en je veel klikwerk   in de browser kunt uitsparen door alles grondig te testen.   <br/> In welke taal je ook programmeert.</p>

<p>Meer in deze presentatie.</p>

<p>

<object height="355" width="425" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">

<param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="src" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=testing-090514144842-phpapp01&amp;rel=0&amp;stripped_title=testing-1436493"><embed height="355" width="425" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=testing-090514144842-phpapp01&amp;rel=0&amp;stripped_title=testing-1436493" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></embed></object>

</p>

<p>Meer presentaties en video&#8217;s vindt je op <a href="http://www.arrarcamp.be" title="arrracamp">ArrrrCamp.be</a></p>
