---
layout: post
title: "Een vrijdag NMBS"
description: ""
category: "tumblr"
---



<p>Vrijdag 14 december zal nog eventjes in mijn geheugen blijven hangen. Omstreeks 14u vertrok ik op mijn kot naar het nmbs-station in Kortrijk waar ik om 14u15 de trein nam richting Dendermonde om over te stappen in Brussel. Mooi op tijd vertrekt de trein en dus kom ik rond 15u20 aan in Brussel noord waar ik ruimschoots de tijd heb om op mijn gemak mij naar spoor 3 te begeven. Daar vertrekt de trein naar Luik waar ik in Leuven zal afstappen.

</p><p>We zijn nog maar net Brussel uit wanneer ik mijn gsm lastig begint te doen. Het was de conducteur van de vorige trein, ik was mijn portefeuille vergeten op de trein. Het feit dat ik met mijn campuskaart in 1ste klasse rijd, maakt dat de conducteur hem als eerst vond.</p>

Wat gingen ze doen, wel ze gingen mijn portefeuille aan de treinwachter geven die hem dan in Dendermonde bij de verloren voorwerpen ging leggen. Aangekomen omstreeks 16u in Leuven zocht ik meteen het telefoonnummer van Dendermonde op om te vragen hoe ik het snelste mijn eigendom kon terug krijgen. Het antwoord was iets minder, als ik het liet opsturen kwam het ten vroegste dinsdag aan in Leuven station, geen treinabonnement, geen geld, geen rijbewijs,&#8230; Geen optie dus.De volgende mogelijkheid was hem zelf gaan halen. Ik haast me dus naar spoor 6 om de trein van 16u31 te halen die naar Dendermonde gaat. Vriendelijk leg ik aan de, niet onknappe, vrouwelijke contucteur uit dat ik geen geld heb voor een ticket en zo mag ik lekker warm wachten in een boemmeltrien richting Dendermonde.Na een dik uur op het gemak te rijden begint de honger al wat lastig te doen, maar kom ik toch blij aan in Dendermonde. De man achter het loket doet me nog eventjes schriken door te zeggen dat ze helemaal niets hebben binnenkregen, ik begon dus meteen te twijfelen tussen Dendermonde en Denderleeuw. Maar na enkele minuutjes in het andere lokaal te zoeken komt hij toch naar buiten met mijn portefeuille, ik gelukkig. Al was mijn trip nog niet afgelopen, ik moest nog naar huis. Dus de eerste trein op naar Mechelen, 30 minuten wachten, yes&#8230; Met 10 minuten vertraging dan toch op de trein van 18u01. Aan een gemiddelde snelheid van 10km/h kom ik 45min later aan in Mechelen. Natuurlijk net de trein naar Leuven gemist en moet ik 30 minuten wachten op de volgende. Met 7 minuten vertraging ben ik dan toch op weg naar Leuven en zie voor de tweede maal de stations van Muizen, Hever, Boortmeerbeek, Hambos en meer passeren. Door al de vertragingen mis ik op 10 minuten na de trein naar Sint-Joris-Weert. Ik beslis dan maar om de bus te nemen van 8u07. Netjes op tijd, of misschien met 2 minuutjes vertraging, dan toch eindelijk richting thuis. 7 uur later dan ik vertrokken ben op kot kom ik doodmoe thuis, wel met portefeuille natuurlijk :) Als slot op deze prachtige dag breekt mijn eitje te vroeg en ligt de dooier lachend in zijn eigen wit naast de pan. Eigenlijk niet echt veel slechts over de nmbs, ze hebben mij perfect geholpen en alles zat nog netjes op zijn plaats in mijn portefeuille. Het toppunt is wel dat tijdens mijn lange uren op de trein geen enkele conducteur is langsgekomen om mijn kaartje te controleren, enkel op de trein waar ik geen kaartje had. Moraal van het verhaal, zorg steeds dat er enkele naamkaartje met je gsm-nummer in je portefeuille steken, ook al ben je niet van plan hem te vergeten op de trein.
