---
layout: post
title: "Beslissen"
description: ""
category: "tumblr"
---



<p>Je hoort het bijna dagelijks, alsof het niets speciaal meer is. Maar dan plots sta je er zelf, op de rand. <br/>Je kan geen kant meer uit, je hoort enkel nog je eigen gedachten, je eigen verwijten, je eigen ego dat zowel je vriend als je vijand is.</p>

<p>Het is nochtans niet je eerste keer, je zou bijna denken dat het een gewoonte wordt. Dat je zo ondertussen al wel weet wat te doen, welk keuze je moet maken. Maar het tegendeel is meer waar, elke dag lijkt de beslissing moeilijker te worden.</p>

<p>Elke seconde die zich in deze fase bevindt duurt langer, elke seconde met enkel je eigen gedachten duurt een eeuwigheid.  Tot het botst in je hoofd, tot je geen kant meer uit kan.</p>

<p>“Wie zal het iets kunnen schelen? Niemand toch”</p>

<p>Al hoor je de reacties al, de verwijten, de keuzes die je beter wel had gemaakt, de zaken die ze je misschien nooit gaan vergeven. Deze zouden geen rol mogen spelen, je staat hier uiteindelijk helemaal alleen voor. Jij bent het die hierover beslist, hier heeft niemand iets mee te maken.</p>

<p>Je doet dit voor jezelf, deze ene keer kies je voor jezelf, enkel jij bent belangrijk genoeg om deze beslissing te nemen.</p>

<p>Je neemt geen notie van de hete adem in je nek van al wie achter je staat. Van de druk die in je rug duwt, steeds dichter en steeds sneller naar je beslissing toe.</p>

<p>Het is tijd, tijd om je keuze te maken, geen weg meer terug, enkel nog vooruit. Eerst diep ademhalen, die grijze hersenmassa, op wat lijkt pure wiskundige willekeurigheid, laten beslissen.</p>

<p>En voor je het zelf hebt beslist, voor je bewustzijn het beseft heer je lichaam beslist. “Maak van de curryworst toch maar een bicky burger, en doe er nog een cola bij&#8221;</p>
