---
layout: post
title: "Kommi Foo in Concert"
description: ""
category: "tumblr"
---



<p><img src="http://i32.tinypic.com/a2vhj7.jpg"/></p>

<p>De twee broers, Raf en Mich, kregen vorig jaar pas de Schouwburg in Kortrijk vol met Spaak, en nu staan ze er weer. Dit jaar stond er iets anders op het programma. Kommil Foo in Concert kan je beschouwen als een soort Best Of van al hun shows. Met als verschil dat de twee heren bijgestaan werden door een 8-koppige live band. Ze begonnen deze tour op de Gentse Feesten in juli en zijn dan 3 januari gestart met In Concert te spelen in theaterzalen. Van Madrid tot het pijpen van een ezel of een paard. De beste en grappigste stukken werden gespeeld. En als je denkt dat je al hun liedjes kent van op cd, herontdekt elk liedje tijdens hun live optreden. <a href="http://www.kommilfoo.be/" title="kommil foo" target="_blank"><a href="http://www.kommilfoo.be/">http://www.kommilfoo.be/</a></a></p>
