---
layout: post
title: "URL abc"
description: ""
category: "tumblr"
---



<p>A simple game: Go to the address bar in your favorite browser, and type one letter. Start with “a”, end with “z”.</p>

<p>A: http://arrrrcamp.be/<br/>B: http://brigands.be/<br/>C: <a href="http://chefsenvissers.be/">http://chefsenvissers.be/</a><br/>D: <a href="http://deredactie.be/cm/vrtnieuws">http://deredactie.be/cm/vrtnieuws</a><br/>E: <a href="http://www.emaillozevrijdag.be/">http://www.emaillozevrijdag.be/</a><br/>F: <a href="http://www.fileflambe.be/">http://www.fileflambe.be/</a><br/>G: <a href="http://www.google.be/">http://www.google.be/</a><br/>H: <a href="http://www.heartattackgrill.com/">http://www.heartattackgrill.com/</a><br/>I: http://www.ibood.com/<br/>J: http://jorendegroof.be/<br/>K: <a href="http://keephd.com/">http://keephd.com/</a><br/>L: http://localhost:3000/ (ror ftw!)<br/>M: <a href="http://www.monopolycitystreets.com/game.html#en">http://www.monopolycitystreets.com/game.html#en</a><br/>N: <a href="http://nzbindex.nl/">http://nzbindex.nl/</a><br/>O: <a href="http://www.openminds.be/">http://www.openminds.be/</a> <br/>P: <a href="http://phpflickr.com/">http://phpflickr.com/</a> (what is this doing here?)<br/>Q: <a href="http://qbrushes.net/">http://qbrushes.net/</a><br/>R: <a href="http://redstorm.be/">http://redstorm.be/</a><br/>S: slideshare.net/<br/>T: tumblr.com/ (duh!)<br/>U: users.telenet.be/ <br/>V: <a href="http://vimeo.com/">http://vimeo.com/</a><br/>W: <a href="https://wave.google.com">https://wave.google.com</a><br/>X: <a href="http://xserve.markee.be/">http://xserve.markee.be/</a><br/>Y: <a href="http://www.youtube.com/">http://www.youtube.com/</a><br/>Z: <a href="http://zwartopwit.be/tabs/6">http://zwartopwit.be/tabs/6</a></p>

<p>(via <a href="http://maxvoltar.com/articles/url-abc">URL ABC</a>)</p>
