---
layout: post
title: "Gorki"
description: ""
category: "tumblr"
---



<p>21 maart 2007, Schouwburg Kortrijk. Een goed gevulde hal wacht vol ongeduld om de zaal te mogen betreden. Als we binnen mogen zijn de leden van de groep op de achtergrond aan het kaarten terwijl er op enkele grote schermen boven het podium beeld en geluid de zaal vult. Na enkele interviews met Luc De Vos, op de schermen, begint de show zelf.

</p><p>Ze spelen vooral liedjes van hun nieuwste cd, Homo Erectus, maar tussendoor spelen ze een ouder nummer. Elk liedje wordt ondersteund door visuele effecten. Ze spelen veel met licht en kleur, wat het reeds leuk ingerichte podium nog meer sfeer geeft. Er worden bij enkele liedjes beelden getoond die wat doen denken aan videoclips van het bijhorende liedje. Er staan overal op het podium camera&#8217;s die, al dan niet, met effectjes getoond worden op de schermen.</p>

<p>Isabelle A kwam zelfs via de schermen mee een liedje zingen, zij zong, Luc De Vos assisteerde vocaal terwijl de rest van de leden, live, voor de muziek zorgde. Na een heleboel liedjes, een pauze en nog meer Gorki, eindigt Luc met het uitdelen van stickers onder het geklap en geroep om Mia te spelen.</p>

<p>Uiteindelijk zet de technicus een plaatje van Mia op, maar live is toch net anders. Buiten de afwezigheid van Mia toch een meer dan geslaagde avond. Een aanrader voor wie de show nog kan gaan zien.</p>
