---
layout: post
title: "U Bloedt toch ook!"
description: ""
category: "tumblr"
---



<h4>U bloedt toch ook?</h4>

<p>Zondag 14 juni is het internationale dag van de bloedgever. Daarom houden de bloedtransfusiecentra zaterdag 13 juni hun deuren open om jouw gulle bloedrode gift te ontvangen. Rol je mouwen alvast op, want bloed geven redt levens.</p>

<p>Op  <a href="http://www.bloedgevendoetleven09.be/"><a href="http://www.bloedgevendoetleven09.be/">http://www.bloedgevendoetleven09.be/</a> </a>vind je wat algemene informatie, maar enkele bloggers dachten dit event eens wat meer in de kijker te zetten. <a title="#debloedgroep" href="http://debloedgroep.be/">#debloedgroep </a>lanceerde deze week hun website om iedereen op te roepen zaterdag 13 juni een beetje bloed te doneren.</p>

<p>Schrijf je op de website in met je twitteraccount op een van de plaatsen in Vlaanderen waar je nu zaterdag 13 juni bloed kan gaan geven.</p>

<p><img height="128" width="128" src="http://www.debloedgroep.be/core/layout/images/banners/banner_3.gif"/></p>
