---
layout: post
title: "Nieuwe start"
description: ""
category: "tumblr"
---



<p>Er is een einde gekomen. Een einde aan de urenlange autoruzies. Ruzies tussen mama en papa over de snelheid, over de juiste afslag, <br/>over het al dan niet snelste route te zijn, ook al leg je ze bijna wekelijks af.</p>

<p>Het begin van dit einde begon met het glunderende gezicht van wat op het eerste zicht van een kind kunnen zijn dat een nieuw speeltje kreeg.</p>

<p>Mijn papa kreeg een gps voor zijn vaderdag.</p>

<p>Dat dit zo lang heeft geduurd komt voornamelijk door de 2de helft van het ouderschap. Mannen kopen nu eenmaal graag gadgets, dat begint zo opnieuw bij het begin van je 40ste.<br/>Maar zij weet graag waar ze naartoe gaat, en nog liever hoe ze er geraakt. “Je weet dan tenminste waar je geweest bent.” is het meest doorslaggevende argument. <br/>Helemaal waar, als je elk jaar op vakantie gaat naar landen als Noorwegen waar de wegen tussen punt A en B op 1 hand kan tellen. <br/>Maar de weg naar dat land vraagt voor porblemen, via waar, via welke snelwegen, waar zijn ze nu weer aan het werken, wat is de snelste en wat is de kortste weg.</p>

<p>Al die ruzies zouden nu een groot stuk moeten wegdijen, laat dat bakje nu maar de beslissingen nemen.</p>

<p>Laat het begin van elke vakantie in rust starten, zonder zorgen en op tijd aankomen op de eindbestemming.</p>
