---
layout: post
title: "Zombie smash"
description: ""
category: "tumblr"
---



<iframe width="400" height="300" src="http://www.youtube-nocookie.com/embed/o1eF0awSI_s?wmode=transparent&autohide=1&egm=0&hd=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0&showsearch=0" frameborder="0" allowfullscreen></iframe><p>Hoewel ik Plants vs Zombies nog lang niet beu ben was ik wel benieuwd naar dit spel Zombie Smash.</p>

<p>Zeker leuk om eens te proberen, al voel je het snel in je duimen als je enkele levels na elkaar speelt.</p>
