---
layout: post
title: "Canon Ixus 300 HS Test"
description: ""
category: "reviews"
---



<p>Ik ben altijd al fan geweest van Canon, zelfs een 5 jaar oud toestel trekt mooiere foto&#8217;s dan een nieuw van een ander merk.</p>

<p>Ik moest voor iemand in de familie een nieuw toestel kopen. Ik weet dat ze graag foto&#8217;s trekt en ook al wat meer van haar huidig toestel kent dan enkel aan- en afzetten. Ze trekt graag macro foto&#8217;s en als er eens een feest is wil ze vooral graag foto&#8217;s trekken van de mensen ZONDER dat ze de flash moet aanzetten. </p>

<p>Maar daar is haar oud toestel nu net niet goed genoeg voor, of je moet de hoogste ISO waarde gebruiken, maar dan zie je enkel wat korrels en dus geen deftige foto&#8217;s meer.<br/>Nu denk ik dat ze nog niet klaar is voor een spiegelreflex. Het moet vooral draagbaar zijn, ze wil niet op vakantie gaan wandelen met zo&#8217;n grote camera, een gewone lens, een zoomlens en een macro lens. Ze wil gewoon een compacte alleskunner.</p>

<p>Mijn oog sloeg dan op dit toestel:<br/><img height="319" width="500" alt="Canon Ixus 300 HS" src="http://cdn.slashgear.com/wp-content/uploads/2010/05/canon_ixus_300_hs.jpg"/><br/>De Canon Ixus 300 HS.</p>

<p>Ik kreeg al meteen commentaar omdat het toestel maar 10 megapixels heeft terwijl het toestel dat 100 euro goedkoper is, er 14 heeft. </p>

<p>De kracht zit hem o.a. in de lens, het toestel heeft een lens met diafragma 2.0, zeer geschikt dus om ook zonder flash te werken. </p>

<p>Hier wat testjes:</p>

<p><img height="375" width="500" alt="closup" src="http://farm5.static.flickr.com/4084/5054987987_e04f3439f1.jpg"/></p>

<p>Het heeft ook een ingebouwde miniatuur-functie. Een beetje het til-shift effect. Ik met zeggen dat dit best wel goed gelukt is.<br/><img height="375" width="500" alt="miniatuur foto" src="http://farm5.static.flickr.com/4104/5054991145_06eb55c356.jpg"/></p>

<p><img height="375" width="500" alt="miniatuur foto" src="http://farm5.static.flickr.com/4124/5055610248_68c1c4d4eb.jpg"/></p>

<p>Hiernaast kan het ook in semi HD filmen (720) en slow motion, wat wel leuk is:</p>

<p>

<object type="application/x-shockwave-flash" width="400" height="300" data="http://www.flickr.com/apps/video/stewart.swf?v=71377" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">

<param name="flashvars" value="intl_lang=en-us&amp;photo_secret=48f511edf9&amp;photo_id=5055004691&amp;flickr_show_info_box=true"><param name="movie" value="http://www.flickr.com/apps/video/stewart.swf?v=71377"><param name="bgcolor" value="#000000"><param name="allowFullScreen" value="true"><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/video/stewart.swf?v=71377" allowfullscreen="true" flashvars="intl_lang=en-us&amp;photo_secret=48f511edf9&amp;photo_id=5055004691&amp;flickr_show_info_box=true" height="300" width="400"></embed></object>

</p>

<p>Conclusie, voor de korte periode dat ik het toestel nog bij mij heb liggen, ben ik er wel jaloers op. Je kan het toestel zelfs op AV of TV zetten om zo zelf de sluiterstijd of diafragme mee in te stellen. Dat is toch de max voor zo&#8217;n klein toestel. <br/> Ik denk dat dit een uitstekende tussenstap is naar een spiegelreflex, wat een zalig toestel!</p>
