---
layout: post
title: "De smaaktest"
description: ""
category: "tumblr"
---



<img src="/content/tumblr_files/tumblr_lnm72mbHSx1qzniajo1_500.png"/><br/><p>De smaaktest. <br/>

Uit onderzoek blijkt dat het prijsverschil niet de moeite is. Je hoeft niet meer dan €2 te betalen voor een bal mozzarella van een bekend merk. 80 cent voor het huismerk is misschien iets minder smeuïg, maar doet zeker niet onder qua smaak. <br/>

Integendeel zelfs, voor mij geen dure merken meer in de supermarkt.</p>
