---
layout: post
title: "Jupiler Force"
description: ""
category: "tumblr"
---



<p>Jupiler Force, we nemen 1 glas bier, koken al de alcohol eruit, laten het glas een uurtje opwarmen in de zon, lossen enkele suikerklontjes op, koelen weer ef en steken er weer een beetje bruis is.</p>



<p>Het verdikt, niet te zuipen, bah!</p>
