---
layout: post
title: "20 jaar MIA"
description: ""
category: "tumblr"
---



<iframe width="400" height="300" src="http://www.youtube-nocookie.com/embed/V-ldORi9WWo?wmode=transparent&autohide=1&egm=0&hd=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0&showsearch=0" frameborder="0" allowfullscreen></iframe><p><strong>20 jaar MIA</strong></p>

<p>Mia van Gorki bestaat 20 jaar en dat willen ze vieren door de beste cover te zoeken van dit nummer.<br/>Deze cover van Milow, die het lied vertaalde naar het Engels, bestaat blijkbaar al enkele jaren en vind ik best wel te pruimen. (hier de versie van Werchter 2007).</p>

<p>Ok de latijnse versie van Capilla Flamenca kan ik wel eens op repeat zetten.</p>

<p>

<object width="480" height="240">

<param name="movie" value="http://www.youtube-nocookie.com/v/IswreuK2Myg?fs=1&amp;hl=en_US"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/IswreuK2Myg?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="240"></embed></object>

</p>
