---
layout: post
title: "127 Hours"
description: ""
category: "movies"
---



<p><a href="http://www.imdb.com/title/tt1542344/">http://www.imdb.com/title/tt1542344/</a><br/><a href="http://www.youtube.com/watch?v=OlhLOWTnVoQ">http://www.youtube.com/watch?v=OlhLOWTnVoQ</a></p>

<p>De film over het verhaal van Aron Ralston (<a href="http://en.wikipedia.org/wiki/Aron_Ralston">http://en.wikipedia.org/wiki/Aron_Ralston</a>) die zijn eigen arm heeft geamputeerd nadat hij deze klem zat onder een stuk rots.<br/>Nu niet meteen een film die ik in de cinema zou gaan zien. Ging dan ook met behoorlijk lage verwachtingen naar de cinema toen ik werd uitgenodigd om hem te gana zien in de cinema.</p>

<p>Als je het verhaal wat kent van die kerel weet je natuurlijk al min of meer wat je kan verwachten. Zo goed als de volle 90min 1 man in beeld die met zijn arm vastzit.<br/>Buiten hier en daar eens een stuk dat ze hadden mogen wegknippen heb ik mij eigenlijk niet verveeld. </p>

<p>Laat u vooral niet misleiden door de trailer, deze toont min of meer de eerste 5 minuten van de film. Ben ook niet zeker of dat wel echtbij het verhaal hoort of dat het gewoon een teaser is om mensen naar de zaal te lokken.</p>

<p>Nu, respect voor die kerel, je ziet echt hoe hij 5 dagen heeft kunnen overleven en hoe hij met momenten zwaar aan het doorslaan was. </p>

<p>Het was geen slechte film, al vind ik nu ook weer net dat hij een 8.1 verdient op imdb, maar ik veronderstel dat dat nog wel zal zakken.</p>
