---
layout: post
title: "Nog een voordeel aan een uniek emailadres voor elke website"
description: ""
category: "tumblr"
---



<p>Ik redirect vanaf nu alle spam naar dat adres waar ik mij niet kan op uitschrijven naar de eigenaar van de website zelf.</p>

<p>Ze moeten mijn emailadres maar niet doorgeven of mij de mogelijkheid geven van mijn account of anders te verwijderen.</p>
