---
layout: post
title: "Stam avondje"
description: ""
category: "tumblr"
---



<a href="http://instagr.am/p/R7x83/"><img src="/content/tumblr_files/tumblr_ltugf7MJds1qzniajo1_500.jpg"/></a><br/><p>STAM avondje (Taken with <a href="http://instagr.am">Instagram</a> at Brigands)</p>
