---
layout: post
title: "arrrrcamp-fast-rails-tests"
description: ""
category: "tumblr"
---



<a href="http://blog.8thcolor.com/2011/11/arrrrcamp-fast-rails-tests/">arrrrcamp-fast-rails-tests</a><br/><p>(via <a href="http://www.instapaper.com/">Instapaper</a>)</p>
