---
layout: post
title: "ruby styleguide"
description: ""
category: "tumblr"
---



<a href="https://github.com/bbatsov/ruby-style-guide">ruby-style-guide</a><br/><p>(via <a href="http://www.instapaper.com/">Instapaper</a>)</p>
