---
layout: post
title: "Chello"
description: ""
category: "tumblr"
---



<p>In een tweehonderd jaar oude bibliotheekzaal in the Royal College of Physicians, werden we nafloop van Scottish Ruby Conference uitgenodigd voor een afsluitend concert. Een groep programmeurs, geek en nerds gezellig, zittend op de grond, klaar om te luiseren naar <a title="Zoe Keating" target="_blank" href="http://www.zoekeating.com/">Zoe Keating</a>, een Amerikaanse Chelliste. </p>

<p>Toen ze begin te spelen, werd meteen duidelijk waarom er gezegd werd dat ze graag op tech-meetings optreedt. In haar eentje, en met enkel haar chello en laptop, kon ze 16 verschillende samples bespelen. Ze programmeerde op voorhand elk liedje zodat er bijvoorbeeld een sample werd opgenomen tijdens de eerste 8 maten, en na die 8 maten werd er weer een ander stuk script opgeroepen en deed speelde het de eerste 8 maten opnieuw. Zo kan ze haar studiowerk ook live brengen.</p>

<p>Een chelliste die haar liedjes prgogrameerde, object georienteerd, je zag heel de zaal plots met nog meer interesse en amusement kijken en luisteren. </p>

<p>Naast heel het technisch gedeelte, klopte de muziek ook gewoon. Chello is een fantastisch instrument, het kan zowat alle emoties puur weergeven. Liedjes met titels als Don&#8217;t Worry, Lost en Optimist, kunnen je achterlaten met exact dat gevoel, exact die emotie. Zonder meer achtergrondverhaal kan de chello je elk gevoel aansmeren. </p>

<p>Ik vind het een fantastisch instrument, of het nu gaat om een kwartet of 1 iemand die een eenstemmig stuk speelt, ik ben fan. </p>

<p><iframe frameborder="0" src="http://www.youtube-nocookie.com/embed/e4ZMkkunnCE" height="300" width="500" title="YouTube video player"></iframe></p>

<p>En zo klinkt het dan als je elk deel los speelt: <iframe frameborder="0" src="http://www.youtube-nocookie.com/embed/CN65aJ9MKUY" height="300" width="500" title="YouTube video player"></iframe></p>
