---
layout: post
title: "Frietjes"
description: ""
category: "tumblr"
---



<a href="http://instagr.am/p/Eyla-/"><img src="/content/tumblr_files/tumblr_llv7czHwmU1qzniajo1_500.jpg"/></a><br/><p>En zo eindigen we de week toch met frietjes (Taken with <a href="http://instagr.am">Instagram</a> at Kosmopol)</p>
