---
layout: post
title: "Band Of Brothers"
description: ""
category: "tumblr"
---


<img src="/content/tumblr_files/tumblr_me8li0AvRd1qztqsao1_500.jpg"/><br/><p><a class="tumblr_blog" href="http://stayforthecredits.tumblr.com/post/36797208298/started-my-annual-christmas-band-of-brothers">stayforthecredits</a>:</p>

<blockquote>
  <p>Started my annual Christmas <em>Band of Brothers</em> re-watch.</p>

  <h2>Richard Winters’s Rules of Leadership from his <a href="http://www.amazon.com/Beyond-Band-Brothers-Memoirs-Winters/dp/B001F0RACA">memoirs</a>:</h2>

  <p>1. Strive to be a leader of character, competence, and courage.<br/>2. Lead from the front. Say, “Follow me!” and then lead the way.<br/>3. Stay in top physical shape—physical stamina is the root of mental toughness.<br/>4. Develop your team. If you know your people, are fair in setting realistic goals and expectations, and lead by example, you will develop teamwork.<br/>5. Delegate responsibility to your subordinates and let them do their jobs. You can’t do a good job if you don’t have a chance to use your imagination or your creativity.<br/>6. Anticipate problems and prepare to overcome obstacles. Don’t wait until you get to the top of the ridge and then make up your mind.<br/>7. Remain humble. Don’t worry about who receives the credit. Never let power or authority go to your head.<br/>8. Take a moment of self-reflection. Look at yourself in the mirror every night and ask yourself if you did your best.<br/>9. True satisfaction comes from getting the job done. The key to a successful leader is to earn respect — not because of rank or position, but because you are a leader of character.<br/>10. Hang tough!—Never, ever, give up.</p>
</blockquote>
