---
layout: post
title: "Why YouTube views freeze at 301."
description: ""
category: "tumblr"
---


<iframe width="560px" height="420px" src="http://www.youtube-nocookie.com/embed/oIkhgagvrjI?color=white&theme=light"></iframe>
<p>Finally we know why do YouTube views freeze at 301? (by <a href="http://www.youtube.com/watch?v=oIkhgagvrjI&amp;feature=player_embedded">numberphile</a>)</p>
