---
layout: default
title: Notes
---

{% for post in paginator.posts %}
  <article role="article" style="position:relative">
    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <time class="date" datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: "%B %-d, %Y" }}
    </time>
    <p>{{ post.content }}</p>
    <em>
      {% for tag in post.tags %}
        <a class="post" href="/tag/{{tag}}">#{{tag}}</a>
        {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </em>
  </article>
  {% unless forloop.last %}
    <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">
  {% endunless %}
{% endfor %}

{% if paginator.page_trail %}
  <nav class="pagination row">
    <ul class="pagination-list">
      <li class="pagination-icon"></li>
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.first_page_path | prepend: site.baseurl }}"><i>first</i></a></li>
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i>prev</i></a></li>
      {% endif %}
      {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
          <li class="current"><a href="javascript:void(0);">{{ trail.num }}</a></li>
        {% else %}
          <li><a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i>next</i></a></li>
        <li><a href="{{ paginator.last_page_path | prepend: site.baseurl }}"><i>last</i></a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
