---
layout: default
---

<article role="article" style="position:relative">
  <h1>{{ page.title }}</h1>
  <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
  {{ content }}
  <br>
  <p>
    <small>
      Tagged 
      {% for tag in page.tags %}
        <a class="post" href="/tag/{{tag}}">#{{tag}}</a>
        {% unless forloop.last %}, {% endunless %}
      {% endfor %}.
    </small>
  </p>
  <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">
</article>


