---
layout: default
---

<div id="recipe">
 <header class="post-header recipe-header">
   <span class="breadcrumb">
    <a href= "{{ site.url }}/recepten">Recepten</a>
    /&nbsp;
   </span>
  <h1 title="{{ page.title }}">{{ page.title }}</h1>
  <span class="post-meta">
   <span class="post-date">
    {{ page.date | date: "%-d %b %Y" | upcase }}
   </span>
   •
   {{ page.duration }}
   {% if page.size %}
    • {{ page.size }}
   {% endif %}
   •
   {{ page.tags | join: ", " }}
  </span>
  <div>
    <span class="post-date">Origineel</span>:
    <span class="read-time">
      {% if page.source_url %}
        <a href='{{ page.source_url }}' target='_blank'>{{ page.source }}</a>
      {% else %}
        {{ page.source }}
      {% endif %}
    </span>
  </div>
 </header>

 <article class="post-content">
  {{ content }}
 </article>
</div>
