---
layout: default
---

<article role="article">
<h1>Tag: #{{page.tag}}</h1>
    <ul>
      {% for post in site.posts %}
      {% if post.tags contains page.tag %}
      <li>{{ post.date | date: "%d/%m/%y" }} - <a class="post" href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
</article>
